.wrap
{
    display: flex;
    justify-content: center;
}
body
{
    margin: 0px;
}

#main
{
    padding: 50px 30px;
    margin: 0px;
    background: url("/cost.jpg");
    background-size: cover;
    width: 100%;
}